.footer-container {
  z-index: 10;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;

  .citation-button {
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.25rem;
    text-decoration: none;

    opacity: 0.25;

    &.open {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .citations-container {
    .citation {
      display: inline-block;
      text-decoration: none;
      text-transform: none;
      margin: 4px 30px 0 0;

      &:hover {
        color: grey;
      }
    }
  }
}
