.nav-bar-container {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;
    font-family: $title-font;
    font-weight: 700;
    font-style: italic;
    font-size: calc(max(2vw, 1rem));
    text-align: center;
    margin: 0 80px;

    .logo {
      text-decoration: none;

      &.isHome {
        font-size: 2.5rem;
      }
    }

    .divider {
      font-size: 10px;
      margin: 0 20px;
    }

    .logo-tagline {
      font-family: $body-font;
      font-weight: 300;
      font-style: normal;
    }
  }

  .icon-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    filter: drop-shadow(0 0 10px rgb(41, 41, 41));

    &.none {
      display: none;
    }
  }

  .arrow-left {
    left: 0;
    margin-left: 30px;
  }

  .shuffle {
    right: 0;
    font-size: 26px;
    margin-right: 70px;

    &.isHome {
      margin-right: 30px;
    }
  }

  .arrow-right {
    right: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .logo-container {
    flex-flow: column;
  }
  .divider {
    display: none;
  }
}
