.slide-one-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  overflow: hidden;

  .taglines-container {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 30px 100px 30px;
    color: white;

    .taglines-container-container {
      margin: 50px 0 50px 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .tagline {
        justify-content: center;
        font-family: $title-font;
        font-style: italic;
        font-weight: 700;
        font-size: calc(max(4vw, 2.5rem));
        text-align: center;
        width: 80%;
      }

      .tagline-2 {
        margin-top: 10px;
        font-size: calc(max(2.5vw, 1.5rem));
        text-transform: none;
        text-align: center;
        width: 80%;
      }
    }

    .icons-container {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-flow: row wrap;
      width: 60%;
      // height: 300px;
      overflow: hidden;

      div {
        margin: 0 10px 0 10px;
        margin-bottom: calc(max(2vw, 10px));
        .icon {
          width: calc(max(3vw, 30px));
          filter: invert(100%);
        }
      }
    }
  }

  .background-image {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    img {
      z-index: -1;
      flex-grow: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: grayscale(50%);
      filter: blur(5px);
    }
  }
}

@media screen and (max-width: 768px) {
  .slide-one-container {
    .taglines-container {
      padding: 70px 20px 50px 20px;
    }
  }
}
