.slide-two-container {
  position: relative;
  height: 100%;
  color: white;
  overflow: hidden;

  .taglines-container {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 100px 0 80px 30px;
    color: white;

    .tagline {
      margin-bottom: 4vw;
      font-size: calc(max(2.5vw, 1.5rem));
      width: 50%;
    }

    .tagline-2 {
      font-family: $title-font;
      font-weight: 700;
      font-style: italic;
      font-size: calc(max(4vw, 2.5rem));
      width: 50%;
    }
  }

  .icons-container {
    z-index: 5;
    position: absolute;
    left: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 100px 30px 80px 0;

    &:after {
      content: "";
      // flex: auto;
    }

    .icon-container {
      position: relative;
      .icon {
        filter: invert(100%);
        opacity: 0.2;
        width: 100%;
      }
    }
  }

  .background-image {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    img {
      z-index: -1;
      flex-grow: 1;
      object-fit: cover;
      filter: grayscale(50%);
      filter: blur(5px);
    }
  }
}

@media screen and (max-width: 768px) {
  .slide-two-container {
    .taglines-container {
      width: 100%;
      padding: 70px 20px 50px 20px;
      justify-content: center;

      .tagline,
      .tagline-2 {
        text-align: center;
        width: 75%;
        text-shadow: 0 0 5px black;
      }

      .tagline {
        margin-bottom: 50px;
      }
    }
    .icons-container {
      left: 0;
      top: 0;
      padding: 70px 20px 50px 20px;
      width: 100%;
    }
  }
}
